{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-lg">
<img src="{% static 'matches/images/homescreen.png' %}" alt="Home Screen" class="img-fluid" style="padding-bottom: 2rem;">
<h1>Welcome to Ship’d!</h1>
<p>Ship’d is the BEST way to connect with other UVA students to save money on shipping for your online orders. Simply click Make A Post, fill out the necessary information, and we will match you with UVA students who are shopping at the same store. Once you match, you can coordinate with them to save on shipping. Ship’d is the easiest way to CLICK, SHIP, SAVE!</p>
</div>


{% endblock %}